<!DOCTYPE html>
<html lang="en" ng-app="heroTrainerApp">
<head>
	<meta charset="UTF-8">
	<title>Hero Trainer</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="wrapper">
		<div class="container" ng-controller="HeroController">
			<div class="row">

				<!-- HERO FRAME -->
				<div class="hero-frame col-xs-3" id="heroFrame">
					<img src="{{hero.image}}" alt="Image of the hero" class="hero-image">
					<table class="table-bordered table-hover hero-stats">
						<thead>
							<tr>
								<td class="col-xs-4"></td>
								<th class="col-xs-5">current</th>
								<th class="col-xs-3">change</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Name</th>
								<td>{{hero.name}}</td>
								<td></td>
							</tr>
							<tr>
								<th>Fame</th>
								<td>{{hero.fame}}</td>
								<td ng-class="greenRedCheck(heroChange.fame)">{{heroChange.fame}}</td>
							</tr>
							<tr>
								<th>Gold</th>
								<td>{{hero.gold}}</td>
								<td ng-class="greenRedCheck(heroChange.gold)">{{heroChange.gold}}</td>
							</tr>
							<tr>
								<th>HP</th>
								<td>{{hero.HP}}</td>
								<td ng-class="greenRedCheck(heroChange.HP)">{{heroChange.HP}}</td>
							</tr>
							<tr>
								<th>Endurance</th>
								<td>{{hero.endurance}}</td>
								<td ng-class="greenRedCheck(heroChange.endurance)">{{heroChange.endurance}}</td>
							</tr>
							<tr>
								<th>Strength</th>
								<td>{{hero.strength}}</td>
								<td ng-class="greenRedCheck(heroChange.strength)">{{heroChange.strength}}</td>
							</tr>
							<tr>
								<th>Dexterity</th>
								<td>{{hero.dexterity}}</td>
								<td ng-class="greenRedCheck(heroChange.dexterity)">{{heroChange.dexterity}}</td>
							</tr>
							<tr>
								<th>Agility</th>
								<td>{{hero.agility}}</td>
								<td ng-class="greenRedCheck(heroChange.agility)">{{heroChange.agility}}</td>
							</tr>
							<tr>
								<th>Skill</th>
								<td>{{hero.skill}}</td>
								<td ng-class="greenRedCheck(heroChange.skill)">{{heroChange.skill}}</td>
							</tr>
							<tr>
								<th>Weapon</th>
								<td>{{hero.weapon.shopName}}</td>
								<td class="green">{{heroChange.weapon}}</td>
							</tr>
							<tr>
								<th>Armor</th>
								<td>{{hero.armor.shopName}}</td>
								<td class="green">{{heroChange.armor}}</td>
							</tr>
						</tbody>
					</table>
					<pre>{{monster | json}}</pre>
				</div>

				<!-- RIGHT SIDE - INTERACTIONS -->
				<div class="col-xs-9 action-list">

					<!-- MENU BUTTONS -->
					<div class="row">
						<button class="btn btn-primary" ng-click="trainingOptions()">Train your skills</button>
						<button class="btn btn-primary" ng-click="workingOptions()">Work and earn money</button>
						<button class="btn btn-primary" ng-click="shopView()">Shop for better equipment</button>
						<button class="btn btn-danger" ng-click="fightPreview()">Look for a fight</button>
						<button class="btn btn-default pull-right">Week {{currentWeek}} of {{maxTime}}</button>
					</div>

					<!-- TRAINING OPTIONS -->
					<div class="row container-row" ng-show="showMainTrainingsOptions" ng-repeat="trainingOption in skillTrainingsOptions">
						<div class="btn btn-success col-xs-3 training-options-button button-color-black">
							<p>{{trainingOption.name}}</p>
							<span>{{trainingOption.tip}}</span>
						</div>
						<button class="btn btn-primary col-xs-3 training-options-button" ng-repeat="subOption in trainingOption.options"  ng-disabled="goldCheck(subOption.price)" ng-click="whichButtonTraining(subOption.index)">
							<p>{{subOption.name}}</p>
							<span><small>{{subOption.cost}}</small></span>
						</button>
					</div>

					<!-- TRAINING RESULTS -->
					<div class="row container-row" ng-show="showTrainingResults">
						<div class="col-xs-6 col-xs-offset-3" ng-repeat="result in trainingResults">
							<div class="col-xs-6">{{result.weekday}}</div>
							<div class="col-xs-6" ng-class="successFailCheck(result.result)">{{result.result}}</div>
						</div>
						<div class="col-xs-6 col-xs-offset-3 total-training-result">
							<div class="col-xs-6">Total Gain: </div>
							<div class="col-xs-6">{{totalTrainingResult}}</div>
						</div>
					</div>

					<!-- WORK OPTIONS -->
					<div class="row container-row" ng-show="showMainWorkingOptions" ng-repeat="workOption in workOptions">
						<div class="btn btn-success col-xs-3 working-options-button button-color-black">
							<p>{{workOption.name}}</p>
							<span>{{workOption.tip}}</span>
						</div>
						<button class="btn btn-warning col-xs-3 working-options-button" ng-repeat="subOption in workOption.options" ng-disabled="skillCheck(findSkill(subOption.index), subOption.required)" ng-click="whichButtonWork(subOption.index)">
							<p>{{subOption.name}}</p>
						</button>
					</div>

					<!-- WORKING RESULTS -->
					<div class="row container-row" ng-show="showWorkingResults">
						<div class="col-xs-6 col-xs-offset-3" ng-repeat="result in workingResults">
							<div class="col-xs-6">{{result.weekday}}</div>
							<div class="col-xs-6" ng-class="successFailCheck(result.result)">{{result.result}}</div>
						</div>
						<div class="col-xs-6 col-xs-offset-3 total-working-result">
							<div class="col-xs-6">Earnings: </div>
							<div class="col-xs-6">{{totalWorkGoldIncrease}}</div>
						</div>
						<div class="col-xs-6 col-xs-offset-3 total-working-result">
							<div class="col-xs-6">Skill Increase: </div>
							<div class="col-xs-6">{{totalWorkSkillIncrease}}</div>
						</div>
					</div>

					<!-- FIGHT PREVIEW -->
					<div class="row container-row" ng-show="showFightOption">
						<div class="col-xs-3 col-xs-offset-2">
							<img src="{{monster.image}}" alt="Image of the monster" class="monster-image">
						</div>
						<div class="col-xs-5">
							<p>You are fighting an {{monster.type}} equipped with <em class="red">{{monster.armor.name}}</em> and armed with <em class="red">{{monster.weapon.name}}</em>.</p>
							<p>The {{monster.type}} looks {{comparisonObject.endurance}} enduring than you.</p>
							<p>The {{monster.type}} looks {{comparisonObject.strength}} strong than you.</p>
							<p>The {{monster.type}} looks {{comparisonObject.dexterity}} dextrous than you.</p>
							<p>The {{monster.type}} looks {{comparisonObject.agility}} angile than you.</p>
							<p>The {{monster.type}} looks {{comparisonObject.skill}} skillful than you.</p>
							<button class="btn btn-success fight-screen-button" ng-click="fight()">Let me hit stuff</button>
							<button class="btn btn-danger fight-screen-button" ng-click="fightPreview()">Nah, let's wait</button>
							<p><strong>Remember: If your hero dies during a fight, the game will be over!</strong></p>
						</div>
					</div>

					<!-- FIGHT RESULT -->
					<div class="row container-row" ng-show="showCombatLog">
						<h3 class="col-xs-3 col-xs-offset-3" ng-class="fightResultClass">{{fightResult}}</h3>
						<button class="btn fight-screen-button" ng-click="movingOn()" ng-class="fightResultButtonClass">{{fightResultButtonText}}</button>
						<div class="col-xs-6 col-xs-offset-3" ng-repeat="entry in fightLog">
							<p>{{entry.result}}</p>						
						</div>
					</div>

					<!-- SHOP OPTIONS -->
					<div class="row container-row" ng-show="showShop">
						<div class="weapons shop-container">
							<h3>Weapons</h3>
							<button class="btn col-xs-3 shop-button" ng-repeat="weapon in weapon" ng-if="!$first" ng-disabled="priceCheck(weapon.price)" ng-click="buyWeaponConfirmation($index)">
								<p>{{weapon.shopName}}</p>
								<p>{{weapon.minDmg}}-{{weapon.maxDmg}} dmg / hit</p>
								<p>{{weapon.price}} gold</p>
							</button>
						</div>
						<br>
						<div class="armor shop-container">
							<h3>Armor</h3>
							<button class="btn col-xs-3 shop-button" ng-repeat="armor in armor" ng-if="!$first" ng-disabled="priceCheck(armor.price)" ng-click="buyArmorConfirmation($index)">
								<p>{{armor.shopName}}</p>
								<p>Armor class {{armor.protection}}</p>
								<p>{{armor.price}} gold</p>
							</button>
						</div>
					</div>

					<!-- SHOP CONFIRM -->
					<div class="row shop-confirmation" ng-show="showShopConfirm">
						<div class="row">
							<span class="col-xs-6 col-xs-offset-3 big-text blue">Confirm your choice<span>
						</div>
						<div class="row" ng-show="weaponPurchase">
							<div class="col-xs-6 col-xs-offset-3 confirmation-container">
								<p>Are you sure you want to buy the</p>
								<p><span class="big-text blue">{{buyItem.shopName}}</span> for <span class="big-text blue">{{buyItem.price}}</span> gold</p>						
							</div>
						</div>
						<div class="row" ng-show="armorPurchase">
							<div class="col-xs-6 col-xs-offset-3 confirmation-container">
								<p>Are you sure you want to buy the</p>
								<p><h4>{{buyItem.shopName}}</h4> for <h4>{{buyItem.price}}</h4> gold</p>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 col-xs-offset-3">
								<button class="btn btn-success fight-screen-button" ng-click="buyIt()">Yes, new toys!!!</button>
								<button class="btn btn-danger fight-screen-button" ng-click="dontBuyIt()">Hm, let me think about it</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="hero.js"></script>
</body>
</html>