.wrapper {
	padding-top: 20px;
}

.hero-image {
	width: 150px;
}

.hero-stats {
	margin-top: 15px;
}

.hero-stats tbody td {
	text-align: center;
}

.btn {
    white-space: normal;
    word-wrap: break-word; 
}

.container-row {
	margin-top: 20px;
}

.training-options-button, .working-options-button {
	height: 110px;
}

.button-color-black {
	color: #000;
}

.total-training-result, .total-training-result {
	margin-top: 20px;
}

.green {
	color: green;
	font-weight: bold;
}

.red {
	color: red;
	font-weight: bold;
}

.blue {
	color: #00087A;
}

.fight-screen-button {
	margin: 20px auto;
}

.shop-container {
	clear: both;
}

.armor {
	padding-top: 20px;
}

.shop-button {
	background: #350085;
	border: 1px solid #210052;
	color: #fff;
}

.shop-button:hover {
	background: #280063;
	color: #fff;
}

.shop-button:active {
	background: #2F1457;
	color: #fff;
}

.shop-confirmation {
	margin-top: 80px;
}

.big-text {
	font-size: 150%;
	font-weight: bold;
}

.confirmation-container {
	margin-top: 30px;
	margin-bottom: 30px;
}

.win-screen {
	height: 100vh;
	width: 100%
	width: 100%;
	background-color: white;
	z-index: 5;
	position: relative;
}

.win-result {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.death-screen {
	height: 100vh;
	width: 100%;
	width: 100%;
	background-image: url(images/graveyard.svg);
	background-size: cover;
	z-index: 5;
	position: relative;
}

.death-result {
	position: absolute;
	color: white;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
}
