.wrapper {
	padding-top: 20px;
}

.hero-image {
	width: 150px;
}

.hero-stats {
	margin-top: 15px;
}

.hero-stats tbody td {
	text-align: center;
}

.btn {
    white-space: normal;
    word-wrap: break-word; 
}

.container-row {
	margin-top: 20px;
}

.training-options-button, .working-options-button {
	height: 110px;
}

.button-color-black {
	color: #000;
}

.total-training-result, .total-training-result {
	margin-top: 20px;
}

.green {
	color: green;
	font-weight: bold;
}

.red {
	color: red;
	font-weight: bold;
}

.fight-screen-button {
	margin: 20px auto;
}

